* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.conteiner {
  max-width: 1280px;
  max-height: 976px;
  position: relative;
}

/* Header */
.header {
  position: absolute;
  top: 0px;
  left: 370px;
}

.header__wrapper {
  margin-top: 140px;
  text-align: center;
  line-height: 30px;
  /* display: flex;
  flex-direction: column; */
  /* justify-content: center; */
}
.e-header__one {
  font-size: 12px;
  font-family: "Montserrat";

  color: #898f99;
  letter-spacing: 5px;
  margin-bottom: 34px;
}

.e-header__two {
  font-size: 48px;
  font-family: "Montserrat";
  color: #0ec8cb;
  margin-bottom: 34px;
  letter-spacing: 5px;
  font-weight: 400;
}

.e-header__three {
  font-size: 18px;
  letter-spacing: 1px;
  color: #999999;
  font-family: "PT Sans";
}

/* Items */
.wrapper {
  position: absolute;
  top: 420px;
  left: 170px;
  display: flex;
  flex-direction: row;
  text-align: center;
  max-width: 940px;
  min-height: 418px;
}

.c-wrapper__anchor {
  display: inline-block;
  align-content: center;
  background: transparent;
}

/* Title */
.title {
  color: #1b1b1b;
  margin: 36px;
  font-size: 21px;
  font-family: "Montserrat";
}

/* Text */
.text__diamond,
.text__anchor,
.text__eyeglasses,
.text__monitor {
  margin: 32px;
  color: #777777;
  font-size: 14px;
  line-height: 22px;
  font-family: "PT Sans";
  font-weight: 400;
}

/* Items hover */

#Eyeglasses:hover {
  fill: white;
}
#Monitor:hover {
  fill: white;
}

#Diamond:hover {
  fill: white;
}

.c-wrapper__anchor:hover {
  background: rgba(14, 200, 203, 0.5);
  color: white;
  fill: white;
}
