h1 {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  border: 5px solid blueviolet;
  padding: 20px;
  padding-right: 1px;
  padding-left: 1px;
  margin: 0px;
}
body {
  background-color: cornflowerblue;
}
/* !div {
  display: flex;
  flex-direction: column;
  justify-content: center;
} */
/* .border {
  border: 1px;
  border: dashed;
  border-color: darkorange;
} */
/* .menu {
  display: block;
  margin-inline-start: 2px;
  margin-inline-end: 2px;
  padding-block-start: 0.35em;
  padding-inline-start: 0.75em;
  padding-inline-end: 0.75em;
  padding-block-end: 0.625em;
} */
/* .li {
  font-size: 30px;
  font-weight: bold;
  border-radius: 2px;
  border-color: blueviolet;
} */
/* ul {
  padding: 50px;
}
.a {
  font-size: 36px;
} */
/* .menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */
.menu {
  /* margin-bottom: 30px; */
  padding: 50px 500px;

  /* color: darkgreen; */
}
.menu:last-child {
  margin-bottom: 0px;
}
.menu_link {
  border: 2px solid crimson;
  display: inline-block;
  justify-content: center;
}
/* .menu_link2 {
  border: 2px solid crimson;
}
.menu_link3 {
  border: 2px solid crimson;
} */
/* .span {
  margin-bottom: 40px;
  color: darkgreen;
}
span:first-child {
  color: chartreuse;
} */
