* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #121116;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  width: 100%;
  /* background-color: red; */
}
.header__wrapper {
  display: flex;
  justify-content: center;
  padding-top: 120px;
  padding-bottom: 55px;
}
.main__title {
  font-size: 20px;
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 36px;
  padding-right: 0px;
  color: #fefbfc;
  position: relative;
  left: 44%;
}
hr {
  width: 290px;
  position: relative;
  left: 38%;
}
.social__wrapper {
  display: flex;
  justify-content: center;
  margin: 0px;
  color: #fefbfc;
}
.social__item {
  margin: 30px;
}
.footer__wrapper {
  color: #fefbfc;
}
